<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>387051569421-ia3btvd61vqbrm9fehcfcj1udoqu4ar4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.387051569421-ia3btvd61vqbrm9fehcfcj1udoqu4ar4</string>
	<key>API_KEY</key>
	<string>AIzaSyAwzVBIK7DPd163Y2BiLtm_75x2VSagpE8</string>
	<key>GCM_SENDER_ID</key>
	<string>387051569421</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.mommaApp</string>
	<key>PROJECT_ID</key>
	<string>momma-31dbe</string>
	<key>STORAGE_BUCKET</key>
	<string>momma-31dbe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:387051569421:ios:98b2c776ea16792c</string>
	<key>DATABASE_URL</key>
	<string>https://momma-31dbe.firebaseio.com</string>
</dict>
</plist>