<ion-header class="header_bg">
  <ion-navbar color="header-color">
    <ion-title class="title01">Saved Discussions</ion-title>
    <ion-buttons left>
      <button ion-button navPop icon-only>
      <!--<button ion-button (click)="newsfeed()">-->
 <img src="assets/img/back.png">
  </button>
    </ion-buttons>


  </ion-navbar>
</ion-header>

<ion-content style="background: #cbafd0 !important">

  <div class="" *ngIf="newsfeeds.length>0">

    <div class="boxs" *ngFor="let newsfee of newsfeeds">

      <span *ngFor="let news_feed of objectKeys(newsfee)">
 
 <ion-list style="margin: 0px 0 6px; padding: 15px 0;">
        <ion-item>
          <div class="circle">
            <ion-thumbnail item-start>
              <img [src]="newsfee[news_feed]?.userpic">
            </ion-thumbnail>
          </div>

          <div class="content11">
            <h2>{{newsfee[news_feed]?.name}} <span class="hearticon" (click)="heartfun(news_feed)"><a> <img src="assets/img/heart.png" style="width: 20px;" /> </a> </span>      </h2>

      <span style="width:100%; float:left; white-space: normal;">{{newsfee[news_feed]?.newsfeed}}</span>
      

    
    </div>

    <div *ngIf='newsfee[news_feed]?.image' class="box11_img"><img [src]="newsfee[news_feed]?.image1" alt=""></div>
  <div class="post_btn">
        <button (click)="comment(news_feed)" ion-button class="fb_btn">
                <span *ngIf="newsfee[news_feed]?.comments != undefined">
                    {{objectKeys(newsfee[news_feed]?.comments).length}} Comments
                </span><span *ngIf="!newsfee[news_feed]?.comments">
                  0 Comments
                </span>
          </button>
      </div>

    <div class="btnmy" style="width:100%;float:left;text-align:left;">
      <!--<a *ngIf="newsfee[news_feed]?.ageGroup != undefined" style="font-family: Aileron-italic; font-size:13px;line-height:19px; color:#1d1234;float:right;width:auto;">Age group: {{newsfee[news_feed]?.ageGroup}}</a>-->
      <a style="font-family: Aileron-italic; font-size:13px; color:#a784bc;"> {{newsfee[news_feed]?.time | date:'MMM d, y h:mm a'}}</a>
    </div>

    </ion-item>
    </ion-list>
    </span>
  </div>
  </div>
</ion-content>